:root {
  --radius: 10px;
  --space: 20px;
  --bar-height: 64px;
  --field-height: 48px;
  --primary: #DD0E0E;
  --secondary: rgba(255, 82, 82, 0.7);
  --dark: #070D0D;
  --light: #D7D7D7;
  --white: #FFFFFF;
  --white10: rgba(255, 255, 255, 0.1);
  --white25: rgba(255, 255, 255, 0.25);
  --white90: rgba(255, 255, 255, 0.9);
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all 0.2s ease-in-out;
}

body {
  margin: 0;
  background-color: var(--dark);
  color: var(--white);
}

body, div, section, main, article, header, footer, form, label {
  display: flex;
  flex-direction: column;
}

#auth {
  background-color: #250303;
  background-image: url("../images/bg.svg");
}
#auth header {
  justify-content: center;
  align-items: center;
  height: 350px;
}
#auth header a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#auth header a img:first-child {
  width: 100px;
}
#auth header a img:last-child {
  margin-top: var(--space);
  width: 220px;
}
@media (min-width: 768px) {
  #auth header a {
    flex-direction: row;
  }
  #auth header a img:first-child {
    width: initial;
  }
  #auth header a img:last-child {
    margin-left: var(--space);
    width: initial;
  }
}
#auth main {
  align-items: center;
}
#auth #form-tabs {
  margin: 0;
  padding: 0;
  background-color: #3A1C1C;
  height: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  list-style: none;
  width: 100%;
}
#auth #form-tabs li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: rgba(221, 14, 14, 0.25);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  padding: var(--space);
  color: var(--dark);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}
#auth #form-tabs li:hover {
  background-color: rgba(221, 14, 14, 0.5);
}
#auth #form-tabs li.active {
  background-color: var(--primary);
  cursor: default;
}
#auth #form-tabs li {
  width: 175px;
}
#auth #form-tabs a {
  text-decoration: none;
  color: var(--dark);
  padding: var(--space);
}
#auth form {
  background-color: var(--primary);
  padding: var(--space);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  width: 350px;
}
#auth form input {
  height: 50px;
  border-radius: var(--radius);
  border: none;
  font-size: 16px;
  padding: var(--space);
  outline: none;
}
#auth form input:focus {
  background-color: rgba(255, 255, 255, 0.9);
}
#auth form input + input {
  margin-top: var(--space);
}
#auth form footer {
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--space);
  position: relative;
  min-height: var(--space);
}
#auth form footer a {
  color: var(--white);
  font-size: 14px;
}
#auth form footer button {
  background-color: #101d1d;
  border: none;
  border-radius: var(--radius);
  color: var(--white);
  height: 48px;
  min-width: 110px;
  position: absolute;
  bottom: -30px;
  right: 0;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(221, 14, 14, 0.25);
}
#auth form footer button:hover {
  background-color: var(--dark);
  box-shadow: 0 0 10px var(--primary);
}
#auth form footer button:active {
  background-color: var(--light);
  color: var(--dark);
  transition-duration: 0.05s;
  box-shadow: 0 0 5px var(--primary);
}

#app > header {
  justify-content: center;
  align-items: center;
  height: 350px;
  position: relative;
}
#app > header a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app > header a img:first-child {
  width: 100px;
}
#app > header a img:last-child {
  margin-top: var(--space);
  width: 220px;
}
@media (min-width: 768px) {
  #app > header a {
    flex-direction: row;
  }
  #app > header a img:first-child {
    width: initial;
  }
  #app > header a img:last-child {
    margin-left: var(--space);
    width: initial;
  }
}
#app > header::before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-position: top center;
  background-image: linear-gradient(180deg, rgba(7, 13, 13, 0.5) 50.52%, #070D0D 100%), url("../images/photo-red.jpg");
  background-repeat: no-repeat;
  filter: brightness(0.8);
}
#app > header a {
  position: relative;
}
#app > header #avatar {
  position: absolute;
  top: var(--space);
  right: var(--space);
  border-radius: 50%;
}
#app main > header {
  background-color: var(--white10);
  height: 80px;
  justify-content: center;
  align-items: center;
}
#app main > header h1 {
  font-weight: 100;
  font-size: 32px;
  margin: 0;
}
#app main > header h1 span {
  color: var(--primary);
}
#app main .category {
  margin: var(--space);
}
#app main .category h2 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}
#app main .category ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#app main .category ul {
  margin-top: var(--space);
  color: rgba(255, 82, 82, 0.7);
}
#app main .category ul label {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  transition: none;
}
#app main .category ul label h3, #app main .category ul label div {
  padding: 10px 0;
  border-bottom: var(--secondary) 1px dotted;
}
#app main .category ul label h3 {
  flex: 1;
  font-weight: 100;
  font: inherit;
  margin: 0;
}
#app main .category ul label > span {
  display: flex;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  border: var(--secondary) 1px solid;
  position: relative;
  justify-content: center;
  align-items: center;
}
#app main .category ul label > span::before {
  position: relative;
  width: 0%;
  height: 0%;
  content: "";
  background-color: var(--secondary);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#app main .category ul label input {
  display: none;
}
#app main .category ul label input:checked + span::before {
  width: 80%;
  height: 80%;
}
#app main .category ul label:hover {
  color: #ff5252;
}
#app main .category ul label:hover > span {
  border-color: #ff5252;
}
#app main .category ul label:hover > span::before {
  background-color: #ff5252;
}

/*# sourceMappingURL=main.css.map */
