$bgLogin: #250303;
$bgTabs: #3A1C1C;
$primary: #DD0E0E;
$secondary: rgba(#FF5252, .7);
$dark: #070D0D;
$light: #D7D7D7;
$white: #FFFFFF;

$white10: rgba($white, .1);
$white90: rgba($white, .9);
$white25: rgba($white, .25);