:root {
    --radius: 10px;
    --space: 20px;
    --bar-height: 64px;
    --field-height: 48px;

    --primary: #FF760C;
    --secondary: rgba(246, 188, 27, .7);
    --dark: #070D0D;
    --light: #D7D7D7;
    --white: #FFFFFF;

    --white10: rgba(255, 255, 255, .1);
    --white25: rgba(255, 255, 255, .25);
}